div.region-help {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
}
#overlay div.region-help {
  margin: 20px 0;
}
.region-help .block {
  margin: 0;
}
#block-system-help {
  background: url('../../images/help.png') no-repeat 8px 5px #f0f8ff;
  border: 0;
  margin: 10px 10px 0;
  padding: 0;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#block-system-help p:last-child,
#block-system-help ul:last-child,
#block-system-help .content p:last-child {
  margin-bottom: 0;
}
#block-system-help p:first-child,
#block-system-help .content p:first-child {
  margin-top: 0;
}
#block-system-help .content {
  margin: 0;
  padding: 7px 0 10px 40px;
}