#logo, #name-and-slogan  {
  float: left;
}
#logo {
  display: inline-block;
  height: 90px;
  max-height: 100%;
  line-height: 90px;
  padding: 10px 0;
  transition: none;
  -webkit-transition: none;
}
#logo img {
  vertical-align: middle;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  margin: 0px;
}
/*
#logo {
  padding: 5px 0;
  margin: 0;
  display: block;
}
#logo img {
  
}
*/
#name-and-slogan {
  margin: 0;
  padding: 5px 10px 0 15px;
}
#site-name {
  font-size: 1.8em;
  line-height: .5em;
  padding: 1em 0;
  letter-spacing: -1px;
}
h1#site-name {
  margin: 0;
  padding: 1em 0;
}
#site-name a {
  font-weight: normal;
  text-decoration: none;
}
#site-slogan {
  font-size: 0.929em;
  margin-top: 5px;
  word-spacing: 0.1em;
  font-style: italic;
}